<!--Accreditation-->
<div class="container6" id="acrDiv">
    <p class="heading-text admin">Accreditations</p>
    <div class="accreditation-boxes">
        {{#each accreditations}}
            <div class="accreditation-box"><img src="../assets/logo/{{this.imageName}}" alt="{{this.imageName}}" id="{{this._id}}" class="acrImage" style="width: 100px;"></div>
        {{/each}}
    </div>
</div>