{{#if isAdminMode}}
<div class="admin-hotbar">
    <button class="edit-text" id="edit-text">Edit Text</button>
    <button class="edit-img" id="edit-img">Edit Images</button>
    <button class="add-acr" id="add-acr" style="display: none;">Add Accreditations</button>
    <button class="del-acr" id="del-acr" style="display: none;">Delete Accreditations</button>
    <button id="add" style="display: none;">Add Service</button>
    {{!-- <button id="add">Add</button> --}}
    {{!-- <button id="delete">Delete</button> --}}
</div>

<!-- The hidden modal -->
{{!-- class admin removes it from being selected by the edit --}}
<div class="modal" id="text-space">
    <div class="modal-content" id="text-box">
        <textarea id="text-area" rows="4" cols="50"></textarea>
        <button class="button1" id="text-change">Change</button>
        <button class="button1" id="text-cancel">Cancel</button>
    </div>
</div>

<div class="modal" id="image-space">
    <div class="modal-content" id="image-box">
        <input type="file" id="image-upload" name="image-upload" style="display: none;" accept="image/*">
        <label for="image-upload" id="image-label">Edit Image</label>
        <img class="button1" id="uploaded-image" src="" alt="Uploaded Image" style="max-width: 50%;">
        <button class="button1" id="image-change">Change</button>
        <button class="button1" id="image-cancel">Cancel</button>
    </div>
</div>

<div class="modal" id="acr-space">
    <div class="modal-content" id="acr-box">
        <input type="file" id="acr-upload" name="acr-upload" style="display: none;" accept="image/*">
        <label for="acr-upload" id="acr-label">Upload Image</label>
        <img class="button1" id="acr-uploaded-image" style="max-width: 50%;">
        <button class="button1" id="acr-submit" style="display: none;">Submit</button>
        <button class="button1" id="acr-submit-cancel">Cancel</button>
    </div>
</div>

<div class="modal" id="acrdel-space">
    <div class="modal-content" id="text-box">
        <h1 class="button1">Delete Accreditation?</h1>
        <button class="button1" id="acr-del">Proceed</button>
        <button class="button1" id="acr-del-cancel">Cancel</button>
    </div>
</div>
{{/if}}

<script>
    const currentURL = window.location.href;
    console.log(currentURL);

    if(currentURL == "http://localhost:3000/services"){
         document.addEventListener('DOMContentLoaded', function () {
            // Show the "Add" button
            document.getElementById('add').style.display = 'block';
        });
    }    
</script>

<style>
.admin-hotbar {
    position: sticky; /* Use 'fixed' instead of 'sticky' */
    bottom: 0;
    background-color: lightblue;
    color: #000;
    padding: 10px;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center; /* Adjust this according to your layout preference */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow if desired */
}

.admin-hotbar button {
    width: 220px; 
    height: 40px; 
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}


.edit-text.active{
    background-color: gray;
}

.edit-img.active{
    background-color: gray;
}

.add-acr.active{
    background-color: gray;
}

.del-acr.active{
    background-color: gray;
}

.admin-hotbar button:hover {
    background-color: #2980b9;
}

.modal {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 105; /* for some reason, its still beneath the upper content bar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 30%; 
    max-height: 70%;
}

.button1 {
    background-color: #1B6DAF;
    color: black;
    border: none;
    margin-top: 10px;
    padding: 10px 30px; /* Adjust the padding to make it shorter */
    border-radius: 10px;
    cursor: pointer;
    display: inline-block; /* Make it inline-block to adjust its width */
}
</style>