<!--Contact Us-->
<div class="contact-us">
    <div class="header">
        <div class="header-content">
            <p class="heading-text">Contact Us</p>
            <p class="subtext">Business Hours: Mon-Fri, 9:00 AM - 5:00 PM</p>
        </div>
    </div>
</div>

<!-- Dedicated Links -->
<div class="social-links">
  {{#each contacts}}
  <div class="email-1">
        <p class="heading-text">{{this.type}}<i class="{{this.icon}}"></i></p>
        <p class="subtext">{{this.description}}</p>
        <a href="#" class="link-simple">Learn More</a>
    </div>
  {{/each}}

</div>