<!--Navbar-->
<div class="custom-navbar">
    <ul>
        <a href="/home"><img class="company-logo admin" src="../assets/South Alps Logo 3 v2.png"></a>
        <li><a href="/facility">Facility</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/quotes">Contact Us</a></li>
        {{#if isAdminMode}}
            <li class="login=link"><a href='/logout'>Logout</a></li>
        {{else}}
            <li class="login=link"><a href="/admin">Login</a></li>
        {{/if}}
    </ul>
</div>