<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
</head>
<body>
    <div class="header">

    </div>
    <div class="body">
        <div class="aerial-shot">

        </div>
        <div class="contact-us">
            
        </div>
    </div>
    
    <!--Footer-->
    <div class="container7">
        <div class="links">

        </div>
        <div class="line"></div>
        <div class="navilink">
            <ul>
                <a href="/home"><img class="company-logo" src="../assets/logo/South Alps Logo 3 v2.png"></a>
                <li><a href="/facility">Facility</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/getQuote">Contact Us</a></li>
            </ul>
        </div>
    </div>
    {{> adminhotbar}}
    <script src="/javascript/adminhotbar.js"></script>
</body>
</html>